$shadow: 0 25px 65px rgba(15, 24, 33, 0.29);
$defaultPadding: 0.375rem 0.75rem;

$white: #fff;
$buttonColor: #047bf8;
$buttonHoverColor: #0362c6;
$defaultColor: #3e4b5b;
$error-color: rgb(185, 74, 72);
$borderColor: rgba(0, 0, 0, 0.1);
$backgroundColor: #ecf5fe;
$overlayColor: rgba(8, 8, 8, 0.63);
$disabled-color: rgba(0, 0, 0, 0.12);
$disabled-text-color: rgba(0, 0, 0, 0.26);
$placeholder-color: #a3a3a3;

//Colors coming from debug

$mainColor_1: #ffffff;
$mainColor_2: #000000;
$mainColor_3: #afbd21;
$mainColor_4: #f7f8fb;
$mainColor_5: #6d6e71;
$mainColor_6: #f7f8fb;
$mainColor_7: #48e5e9;
$mainColor_8: #1259ba;
$mainColor_9: #04aced;
$mainColor_10: #0046a6;
$mainColor_11: #4a4a4a;
$mainColor_12: #797979;
$mainColor_13: #9b9b9b;
$mainColor_14: #b6b6b6;
$mainColor_15: #f6f6f6;
$mainColor_16: #151515;
$mainColor_17: #7ed321;
$mainColor_18: #48e9ab;
$mainColor_19: #979797;
$mainColor_20: #f1f1f1;
$mainColor_21: #f2f7f7;
$mainColor_22: #ebebeb;
$mainColor_23: #6cbcf2;
$mainColor_24: #87c9f5;
$mainColor_25: #6bc10c;
$mainColor_26: #0e921e;
$mainColor_27: #ed0404;
$mainColor_28: #ed0405;
